.list {
  white-space: nowrap;
  text-overflow: ellipsis;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  &__info {
    display: flex;
    gap: 20px;
    position: relative;
  }

  &__info-section {
    display: flex;
  }

  &__main {
    padding-left: 74px;
  }

  &__move-button > mat-icon {
    height: 15px;
  }

  &__title-wrapper {
    display: flex;
    gap: 5px;
  }

  &__title-text {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
  }

  &__counter {
    background-color: #dedbdb;
    color: #667085;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    height: 21px;
  }
}

.list__main-header {
  display: flex;
  width: 100%;
  padding: 0 8px 4px 8px;
  font-size: 12px;
  border-bottom: 1px solid #e7e7e7;
  align-items: flex-end;
  color: #8a8a8a;
  gap: 5px;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__showFavorite {
    visibility: hidden;
  }

  &__title {
    flex-basis: 25%;
  }

  &__showStickers{
    flex-basis: 20%;
  }

  &__toggle,
  &__showFavorite {
    flex-basis: 24px;
  }

  &__showAssignees,
  &__showAuthor,
  &__showLocation,
  &__showCreatedAt,
  &__showDeadline {
    flex-basis: 10%;
  }
}
