<div class="list">
  <div class="list__header">
    <div class="list__info">
      <div class="list__info-section list__info-section--left">
        <button class="list__button list__button--icon">
          <svg width="4" height="12" viewBox="0 0 4 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="flex-none">
            <path d="M2.00065 6.66699C2.36884 6.66699 2.66732 6.36852 2.66732 6.00033C2.66732 5.63214 2.36884 5.33366 2.00065 5.33366C1.63246 5.33366 1.33398 5.63214 1.33398 6.00033C1.33398 6.36852 1.63246 6.66699 2.00065 6.66699Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M2.00065 11.3337C2.36884 11.3337 2.66732 11.0352 2.66732 10.667C2.66732 10.2988 2.36884 10.0003 2.00065 10.0003C1.63246 10.0003 1.33398 10.2988 1.33398 10.667C1.33398 11.0352 1.63246 11.3337 2.00065 11.3337Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M2.00065 2.00033C2.36884 2.00033 2.66732 1.70185 2.66732 1.33366C2.66732 0.965469 2.36884 0.666992 2.00065 0.666992C1.63246 0.666992 1.33398 0.965469 1.33398 1.33366C1.33398 1.70185 1.63246 2.00033 2.00065 2.00033Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
        <button class="list__toggle" (click)="toggleList()">
          <mat-icon class="list__icon">{{ isCollapsed ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
        <div class="list__title-wrapper">
          <p class="list__title-text">{{ taskListTitle }}</p>
          <p class="list__counter">{{ taskCount }}</p>
        </div>
      </div>

      <div class="list__actions">
        <button class="list__action"><mat-icon class="list__icon">settings</mat-icon></button>
        <button class="list__action"><mat-icon class="list__icon">filter_list</mat-icon></button>
        <button class="list__action"><mat-icon class="list__icon">import_export</mat-icon></button>
        <button class="list__action"><mat-icon class="list__icon">add_box</mat-icon></button>
      </div>
    </div>

    <div class="list__move">
      <button class="list__move-button"><mat-icon>keyboard_arrow_up</mat-icon></button>
      <button class="list__move-button"><mat-icon>keyboard_arrow_down</mat-icon></button>
    </div>
  </div>

  <div class="list__main">
    @if (isCollapsed) {
      @for (task of tasks; track task) {

      }
      <button class="list__create-button">+ создать задачу</button>
    }
  </div>
</div>
