.list {
  white-space: nowrap;
  text-overflow: ellipsis;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  &__info {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__info-section {
    display: flex;
    gap: 5px;
    align-items: center;

    &--left {
      display: flex;
      align-items: center;
    }
  }

  &__main {
    padding-left: 74px;
  }

  &__move {

    &-button > mat-icon {
      height: 15px;
    }
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__title-text {
    font-size: 20px;
    font-weight: bold;
    max-width: 330px;
  }

  &__counter {
    background-color: #dedbdb;
    color: #667085;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
  }
}

.task-title__input {
  width: 100%;
  padding: 8px 16px;
  border: none;
  border-bottom: 1px solid #dedbdb;
  font-size: 14px;

  &::placeholder {
    font-weight: 600;
    opacity: 0.7;
  }
}

.list__button--icon {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  border: 1px solid #6a6767;
  padding: 2px;
  border-radius: 5px;
}

.list__header:hover .list__button--icon {
  opacity: 1;
  visibility: visible;
}

button {
  background-color: transparent;
  color: #8a8a8a;

  &:hover {
    color: #099bf8;
  }
}

mat-icon {
  transform: scale(0.7);
}
