<div class="task-meta">
  <div class="task-meta__time">
    <div class="task-meta__time-container">
      <div class="task-meta__time-item">
        <p class="task-meta__label">Date of create:</p>
        <time class="task-meta__value">{{ task.createdAt | date:'mediumDate' }}</time>
      </div>
      <div class="task-meta__time-item">
        <p class="task-meta__label">Deadline:</p>
        <time class="task-meta__value">{{ task.deadLine | date:'mediumDate' }}</time>
      </div>
    </div>
    <a routerLink="/tasks/{{task.id}}" class="task-meta__more">
      <mat-icon>more_horiz</mat-icon>
    </a>
  </div>
</div>
