<div class="list">
  <div class="list__header" [class.immutable-class]="taskList.isImmutable">
    <div class="list__info">
      <div class="list__info-section list__info-section--left">

        @if (!taskList.isImmutable) {
          <button class="list__button list__button--icon" (click)="openListMenu()">
            <mat-icon>more_vert</mat-icon>
          </button>

          @if (isListMenuOpen) {
            <div class="list-menu" (clickOutside)="onClickedOutside()">
              <button class="list-menu__item" (click)="startUpdateTaskTitle()">
                Переименовать список
              </button>
              <button class="list-menu__item list-menu__item--danger" (click)="removeList(taskList.id)">
               Удалить список
              </button>
            </div>
          }
        }

        <button class="list__toggle" (click)="toggleList()">
          <mat-icon class="list__icon">{{ isExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
        <div class="list__title-wrapper">
          @if (startUpdate) {
            <input class="list__title-input"
                   type="text"
                   [(ngModel)]="taskList.title"
                   (clickOutside)="onClickedOutside()"
                   appAutoFocus
                   (keyup.enter)="updateTaskTitle()"
            >
          } @else {
            <p class="list__title-text">{{ taskList.title }}</p>
            <p class="list__counter">{{ taskList.tasks.length }}</p>
          }
        </div>
      </div>

      <div class="list__actions">
        <button class="list__action" (click)="openDisplayFlagMenu()"><mat-icon class="list__icon">settings</mat-icon></button>

        @if (showDisplayFlagMenu) {
          <div class="display-flag-menu" (clickOutside)="onClickedOutside()">
            <p>Доступные столбцы таблицы</p>

            @for (option of flagOptions; track option) {
              <button (click)="toggleDisplayFlag(option.key)">
                <mat-icon [class.checked]="taskList.displayFlags[option.key]">
                  {{taskList.displayFlags[option.key]?  'check_box' : 'check_box_outline_blank'}}
                </mat-icon>
                <span class="option-label">{{ option.label }}</span>
              </button>
            }
          </div>
        }
        <button class="list__action"><mat-icon class="list__icon">import_export</mat-icon></button>
        @if (taskList.canCreateTask) {
          <button class="list__action" (click)="atCreate()"><mat-icon class="list__icon">add_box</mat-icon></button>
        }
      </div>
    </div>

    <div class="list__move">
      <button class="list__move-button" (click)="upList()"><mat-icon>keyboard_arrow_up</mat-icon></button>
      <button class="list__move-button" (click)="downList()"><mat-icon>keyboard_arrow_down</mat-icon></button>
    </div>
  </div>


  <div class="list__main">
    @if (isExpanded) {

      @if (taskList.tasks.length > 0) {
        <div class="list__main-header">
          <span class="list__main-header__toggle"></span>
          <p class="list__main-header__title">Название задачи</p>

          @for (option of flagOptions; track option) {
            @if (taskList.displayFlags[option.key]) {
              <p [ngClass]="'list__main-header__' + option.key">{{ option.label }}</p>
            }
          }
        </div>
      }

      @for (task of taskList.tasks; track task.id) {
        <app-task-on-page
          [task]="task"
          [taskList]="taskList"
        ></app-task-on-page>
      }

      @if (canCreateTask) {

        @if (createdTask) {
          <div class="task-title__container">
            <input class="task-title__input"
                   type="text"
                   [(ngModel)]="taskTitle"
                   (keyup.enter)="addTask()"
                   placeholder="Введите название задачи"
                   (clickOutside)="onClickedOutside()"
                   appAutoFocus
            >
          </div>
        } @else {
          <div class="task-title__container">
            <button class="list__create-button" (click)="atCreate()">+ создать задачу</button>
          </div>
        }
      }
    }
  </div>
</div>
