<app-search-input [pageTitle]="pageTitle"
                  (searchTask)="findTask($event)"></app-search-input>

<div>
  <button class="add-list-btn" (click)="toggleAddList()">Добавить список</button>
</div>

@if (isAddList) {
  <div >
    <input type="text"
           class="add-list-input"
           placeholder="Название списка"
           (keyup.enter)="addNewList()"
           [(ngModel)]="newTitle"
           (clickOutside)="onClickedOutside()"
    >
  </div>
}

<div class="task-lists__container">
  @for (taskList of taskLists(); track taskList.id) {
    <app-tasks-list [canCreateTask]="taskList.canCreateTask"
                    [taskList]="taskList"
    ></app-tasks-list>
  }
</div>
