<div class="task-header">
  <mat-checkbox
    [ngModel]="task.isCompleted"
    (ngModelChange)="toggleComplete.emit($event)"
  ></mat-checkbox>

  @if (!isEditing) {
    <h3 class="task-header__title" (dblclick)="onStartEditing()">{{ task.title }}</h3>

  } @else {
    <input
      class="task-header__title-input"
      type="text"
      [ngModel]="task.title"
      (ngModelChange)="onTitleChange($event)"
      (keyup.enter)="save.emit()"
    >
  }
  <span class="task__status"
        [class.task__status--completed]="task.isCompleted"
        [class.task__status--in-progress]="!task.isCompleted">
      {{ task.isCompleted ? 'Завершена' : 'В работе' }}
  </span>
  <div class="task-header__actions">
    <button (click)="editClick.emit()" class="task-header__btn task-header__btn--edit">
      <mat-icon>{{ isEditing ? 'save' : 'edit' }}</mat-icon>
    </button>
    <button (click)="remove.emit()" class="task-header__btn task-header__btn--delete">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
