<div class="container">

  <app-search-input class="tasks-search"
        (searchTask)="findTask($event)">
  </app-search-input>
  <div class="tasks">
    @for (task of tasks(); track task.id) {
      <div class="tasks__item">
        <app-task-header
          [task]="task"
          [isEditing]="editingTaskId() === task.id"
          (toggleComplete)="toggleComplete(task, $event)"
          (editClick)="editTask(task)"
          (remove)="removeTask(task.id)"
          (titleChange)="task.title = $event"
          (save)="saveTask(task)"
        ></app-task-header>

        <app-task-meta [task]="task"></app-task-meta>
      </div>
    }

  </div>

  @if (isOpenForm || hasNoTasks ) {
    <div class="tasks__form">
      <app-task-form></app-task-form>
    </div>
  }

  @if (!hasNoTasks) {
    <div class="tasks__actions">
      <button [matTooltip]="valueTip" class="tasks__toggle-btn" matTooltipClass="custom-tooltip" (click)="openForm()">
        <mat-icon>{{ !isOpenForm ? 'add' : 'clear' }}</mat-icon>
      </button>
      <a routerLink="/dashboard">Доска задач</a>
    </div>
  }
</div>
