<app-search-input class="tasks-search"
                  (searchTask)="findTask($event)"
                  [pageTitle]="pageTitle">
</app-search-input>

<div class="container">
  <div class="tasks">
    @for (task of tasks(); track task.id) {
      <div class="tasks__item tuiAnimated-container" tuiAnimated>
        <app-task-header
          [task]="task"
          [isEditing]="editingTaskId() === task.id"
          (toggleComplete)="toggleComplete(task, $event)"
          (editClick)="editTask(task)"
          (remove)="removeTask(task.id)"
          (titleChange)="task.title = $event"
          (save)="saveTask(task)"
        ></app-task-header>

        <app-task-meta [task]="task"></app-task-meta>
      </div>
    }

  </div>

  @if (isOpenForm || hasNoTasks() ) {
    <div class="tasks__form tuiAnimated-container" tuiAnimated>
      <app-task-form (closeForm)="openForm()"></app-task-form>
    </div>
  }

  @if (!hasNoTasks() && !isOpenForm) {
    <div class="tasks__actions">
      <button [matTooltip]="valueTip" class="tasks__toggle-btn" matTooltipClass="custom-tooltip" (click)="openForm()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  }
  <div class="link-wrapper">
    <a routerLink="/dashboard">Доска задач</a>
  </div>
</div>
